name: go-api-build

on:
    push:
        branches:
        - main
        paths:
        - 'go-api/**'

jobs:
    build: 
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: ./go-api
        steps:
          - name: Go Versiom
            run: go version
        # - name: Checkout code
        #   uses: actions/checkout@v3

        # - name: Set up Go
        #   uses: actions/setup-go@v4
        #   with:
        #     go-version: '1.20'

        # - name: Build Go API
        #   working-directory: ./go-api
        #   run: go build -v ./...

        # - name: Run tests
        #   working-directory: ./go-api
        #   run: go test -v ./...