name: go-api-build

on:
    push:
        branches:
        - main
        # paths:
        # - 'go-api/**'

jobs:
    build: 
        runs-on: ubuntu-latest
        steps:
          - name: Go Versiom
            run: go version
          - name: Checkout code
            uses: actions/checkout@v3

          - name: Set up Go
            uses: actions/setup-go@v4
            with:
                # go-version: '1.20'
                go-version-file: ./go-api/go.mod
                cache-dependency-path: ./go-api/go.sum

          - name: Build Go API
            run: go build -v ./...
            working-directory: ./go-api

          - name: Run tests
            run: go test -v ./...
            working-directory: ./go-api